[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
faker = "*"
drf-nested-routers = "*"
mysqlclient = "*"
pytz = "*"
celery = "*"
redis = "*"
python-decouple = "*"
requests = "*"
drf-spectacular = "*"
django-unfold = "*"

[dev-packages]

[requires]
python_version = "3.12"
